<div class ="header">   
        <h3>Norms list</h3>
</div>
<div class ="search-div">
    <button mat-raised-button (click)="onCreat()">
        <mat-icon>add</mat-icon>Create
    </button>
    <mat-form-field class="search-form-field">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
            </button>
    </mat-form-field>
</div>
<div class="mat-elevation-z8" >
    <mat-table [dataSource]="LisData" matSort>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef ="let element">{{element.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="version">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Version</mat-header-cell>
                <mat-cell *matCellDef ="let element">{{element.version}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Price $</mat-header-cell>
                <mat-cell *matCellDef ="let element">{{element.price}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="reviewerOneDeadline">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Rev1 Duration (H)</mat-header-cell>
                <mat-cell *matCellDef ="let element">{{element.reviewerOneDeadline}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="reviewerTwoDeadline">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Rev2 Duration (H)</mat-header-cell>
                <mat-cell *matCellDef ="let element">{{element.reviewerTwoDeadline}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="validityPeriod">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Validity Period (Y)</mat-header-cell>
                <mat-cell *matCellDef ="let element">{{element.validityPeriod}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                <mat-cell *matCellDef ="let element">{{element.description}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef>Activated</mat-header-cell>
                <mat-cell *matCellDef ="let element"><mat-checkbox class="example-margin" [(ngModel)]="element.status" disabled="true"></mat-checkbox></mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions" class = "actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef ="let row">
                 <!--  <button mat-icon-button (click)="onUpdate(row)"><mat-icon>launch</mat-icon></button>-->
                        <button mat-icon-button (click)="open(row)" ><mat-icon>visibility</mat-icon></button>
                        <button mat-icon-button color="warn" (click)="onDelet(row)"><mat-icon>delete_outline</mat-icon></button>
                        <ng-container *ngIf="!row.hasReport">
                                <button type="button" class="btn btn-warning btn-sm" (click)="createReport(row)">Create Report</button>
                        </ng-container>
                <!--   <button type="button" class="btn btn-warning btn-sm" (click)="updateReport(row)">Update Report</button>-->
                </mat-cell>
        </ng-container>
     <!--   <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef clospan="6">
                    Loading data...
                </mat-footer-cell>
        </ng-container> -->
        <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef clospan="6">
                    No data.
                </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumn"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumn;"></mat-row>
   <!--      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':LisData!=null}"></mat-footer-row> -->
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(LisData!=null && LisData.data.length == 0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" type="ball-spin-clockwise">  
        <p style="color: white">DAS</p>  
        </ngx-spinner> 