<mdb-card>
  <h3 style="text-align: center">change password</h3>
  <!--Card content-->
  <mdb-card-body class="px-lg-5 pt-0">
    <!-- Form -->
    <form
      [formGroup]="newPasswordForm"
      (ngSubmit)="submitNewPassword()"
      class="text-center"
      style="color: #757575"
    >
      <br />
      <div class="form-row">
        <div class="col">
          <!-- Password-->
          <div class="md-form mt-0">
            <div class="form-group">
              <input
                class="form-control"
                placeholder="Password"
                formControlName="newPassword"
                [ngClass]="{
                  'is-invalid': validation.validationMsg.formErrors.newPassword
                }"
                (blur)="handleBlurValidation()"
                type="password"
              />
              <div class="invalid-feedback">
                {{ validation.validationMsg.formErrors.newPassword }}
              </div>
            </div>
          </div>
          <!--  Confirm Password-->
          <div class="md-form mt-0">
            <div class="form-group">
              <input
                class="form-control"
                placeholder="Confirm Password"
                formControlName="confirmPassword"
                [ngClass]="{
                  'is-invalid':
                    validation.validationMsg.formErrors.confirmPassword
                }"
                (blur)="handleBlurValidation()"
                type="password"
              />
              <div class="invalid-feedback">
                {{ validation.validationMsg.formErrors.confirmPassword }}
              </div>
            </div>
          </div>
          <span
            style="color: red"
            *ngIf="
              newPasswordForm.get('confirmPassword').valid &&
              newPasswordForm.get('confirmPassword').value !=
                newPasswordForm.get('newPassword').value &&
              !IsResetFormValid
            "
            class="help-block"
            >Confirm Password does not match with password.</span
          >
        </div>
      </div>
      <div class="button-row">
        <button type="submit" [disabled]="!newPasswordForm.valid" class="btn">
          change password
        </button>
        <div *ngIf="error" class="alertRed">{{ error }}</div>
      </div>
      <!-- Social login -->
    </form>
    <!-- Form -->
  </mdb-card-body>
  <script>
    $("#btn1").click(function () {
      $("#btn1")
        .html(
          '<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Loading...'
        )
        .addClass("disabled");
    });
  </script>
</mdb-card>
