<h4 *ngIf="tokenResponse=='userAlreadyActivated'">User already Registered. Please <a href='#'>Login</a> to continue</h4>

<h4 *ngIf="tokenResponse=='tokenExpired'">Your E-Mail activation link is Expired. Please contact Administrator.</h4>

<h4 *ngIf="tokenResponse=='internalError'">Some Error occurred during User Activation. Please contact Administrator.</h4>

<mat-card *ngIf="tokenResponse=='success'">
    <mat-card-title>Reset Password</mat-card-title>
    <mat-card-content>
        <form [formGroup]="formGroup" >
            <mat-form-field class="form-row col md-form mt-3">
                <input matInput type="password" placeholder="Password" formControlName="password"
                    (input)="onPasswordInput()">
                <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
                <mat-error *ngIf="password.hasError('minlength')">Password must have at least {{minPw}}
                    characters</mat-error>
            </mat-form-field>
            <mat-form-field class="form-row col md-form mt-3">
                <input matInput type="password" placeholder="Confirm password" formControlName="password2"
                    (input)="onPasswordInput()">
                <mat-error *ngIf="password2.hasError('required')">Please confirm your password
                </mat-error>
                <mat-error *ngIf="password2.invalid && !password2.hasError('required')">Passwords don't
                    match</mat-error>
            </mat-form-field>

            <div class="form-row col md-form mt-3">
                <button type="button" color="primary" (click)="resetPassword()"   [disabled]="resetButtonDisabled" mat-raised-button mat-button>Reset Password</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>

<!-- The Modal -->
<div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                    <!-- Modal body -->
                    <div class="modal-body">
                            <h5>Password Reset Successful. Please login to continue.</h5>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal"
                                    (click)="hide()">Close</button>
                    </div>
            </div>
    </div>
</div>