<mat-tab-group mat-align-tabs="center" dynamicHeight>

  <mat-tab label="Tables">
    <div class="example-large-box">
      <app-posts></app-posts>
      <mat-divider></mat-divider>
    </div>
  </mat-tab>

  <mat-tab label="Applications">
    <div class="example-large-box">
      <div class="sd-element--with-frame h-50">
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="740" height="480" src="https://charts.mongodb.com/charts-dashboard-tqmqh/embed/charts?id=63271560-5397-4782-8008-16f7df999b73&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
      </div>
      <mat-divider></mat-divider>
    </div>
  </mat-tab>

  <mat-tab label="Normes">
    <div class="example-large-box">
      <div class="sd-element--with-frame h-50 mr-3 mb-5">
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="540" height="480" src="https://charts.mongodb.com/charts-dashboard-tqmqh/embed/charts?id=632db270-f274-424e-8ba5-21740af0e548&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
      </div>
      <div class="sd-element--with-frame h-50">
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="440" height="480" src="https://charts.mongodb.com/charts-dashboard-tqmqh/embed/charts?id=632de166-5f9d-4d32-8c67-e9a6e07320e9&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
      </div>
      <br>
      <mat-divider></mat-divider>
    </div>
    <br>
    <div class="example-large-box">
      <div class="sd-element--with-frame h-50">
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-dashboard-tqmqh/embed/charts?id=632de34e-0d43-40a3-865e-8f13abfacdb4&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Compagnies">
    <div class="example-large-box">
      <div class="sd-element--with-frame h-50">
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-dashboard-tqmqh/embed/charts?id=632de8e1-e42c-43db-8704-6c1292f39a9c&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
      </div>
      <mat-divider></mat-divider>
    </div>
  </mat-tab>
</mat-tab-group>
