:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
mat-drawer{
    width: 300px;
    background-color: #f3f2f1 !important;
}
mat-drawer-container {
    height: 100%;
}
mat-drawer-content {
    padding: 20px;
}