.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
label {
    /* Other styling... */
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.border{
    border-style: inset;
}
